﻿body, .form-control, .input-group-text, .bg-white, .custom-select {
    background-color: var(--very-dark) !important;
    color: var(--light);
}

.navbar-brand, .text-dark, .btn {
    color: var(--light) !important;
}

.btn {
    border-color: #ced4da !important
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, 0.1) !important
}

a {
    color: #1919bd !important;
}

.form-control:focus {
    color: var(--light) !important;
}

/* Alert dark mode BEGIN */
.alert-danger {
    color: #ffa7b0;
    background-color: #a61e2b;
    border-color: #561219;
}

.alert-warning {
    color: #fbda79;
    background-color: #332700;
    border-color: #473600;
}

.alert-info {
    color: #a0e7f3;
    background-color: #0e2a2f;
    border-color: #143c42;
}

.alert-success {
    color: #a9eab8;
    background-color: #122b18;
    border-color: #1a3d22;
}

.close {
    text-shadow: 0 1px 0 #000;
}
/* Alert dark mode END */