﻿@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="text-center">
    <h1 class="display-4">Werewolf</h1>
    <div id="divalert"></div>
    <div id="divconnectioninfo">
        <p id="lblconnectionstate"></p>
        <p id="lbllobby"></p>
    </div>
    <div class="input-group mb-3" id="divlogin">
        <div class="input-group-prepend">
            <span class="input-group-text">@@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2" id="tbxusername">
        <div class="invalid-feedback order-last" id="lblloginfeedback"></div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btnchangeuser">Login</button>
        </div>
    </div>
    <div class="row" id="diventerlobby">
        <div class="col-sm input-group mb-3">
            <input type="text" class="form-control" placeholder="Lobby ID" aria-label="Lobby ID" aria-describedby="basic-addon2" id="tbxlobbyid">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btnjoinlobby">Join lobby</button>
            </div>
        </div>
        <div class="col-sm btn-group btn-block mb-3">
            <button type="button" class="btn btn-outline-secondary" id="btncreatelobby">Create new lobby</button>
        </div>
        <div class="invalid-feedback" id="lbllobbyfeedback"></div>
    </div>
    <div class="btn-group btn-block mb-3 d-none" id="divinlobby">
        <button type="button" class="btn btn-outline-secondary" id="btnstartgame">Start Game</button>
        <button type="button" class="btn btn-outline-secondary" id="btnleavelobby">Leave lobby</button>
    </div>
    <div class="input-group d-none" id="divvote">
        <select class="custom-select" id="cbxvoteoptions">
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btnvoteplayer">Vote</button>
        </div>
    </div>
    <div class="text-center" id="divdead">
        <img src="/assets/tombstone.svg" class="rounded" alt="You are dead!" style="height: 150px;">
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>